
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App - Beranda</title>
</head>
<body>
    <h1>Selamat datang di Travel App</h1>
    
    <form action="{% url 'create_agency' %}" method="post">
        {% csrf_token %}
        <label for="agency_name">Nama Agen Perjalanan:</label>
        <input type="text" name="agency_name" required>
        <button type="submit">Buat Agen Perjalanan</button>
    </form>

    <ul>
        {% for agency in agencies %}
            <li><a href="{% url 'get_agency' agency.id %}">{{ agency.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
